html {
    height: 100%;
    background-color: #97a89e;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header {
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-around;
}